{%extends 'base.html'%}

{%block start%}
<div class="container col-8 mt-2">
    <div class="card">
        <div class="card-body shadow-lg">
            <em class="text-center fs-2 fs-bold">About Us</em>
            <p>

                "Welcome to PR Group of Publications, a trusted name in the publishing industry. With years of experience, we
                specialize in transforming your ideas into professionally published books. From captivating cover
                designs to expert editing, ISBN registration, and high-quality printing, we provide end-to-end services
                tailored to meet your unique publishing needs.
            </p>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body shadow-lg">
            <p>
                Our mission is to empower authors by offering a seamless and supportive publishing experience. Whether
                you're a first-time author or a seasoned professional, our dedicated team of experts is here to guide
                you every step of the way. We value creativity, quality, and personal attention, ensuring that your
                vision comes to life in the best possible form.
            </p>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body shadow-lg">
            <p>
                At PR Publications, we also believe in the power of community. Through our Community Support platform, we
                bring together authors, editors, and industry professionals to share knowledge, offer guidance, and help
                you succeed in your publishing journey. <br>

                Join us, and let's make your publishing dream a reality!"
            </p>
        </div>
    </div>
</div>
{%endblock%}